@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Asgard<br />
    <abbr title="Phone">Phone:</abbr>
    +86 18600101101
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Thor.Odinson.Asgard@hotmail.com">Thor.Odinson.Asgard@hotmail.com</a><br />
    <!--
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    -->
</address>